<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Projects\Python_Calib_Jwt\calibration\calibrations\venv\Scripts\python.exe|C:\Projects\Python_Calib_Jwt\calibration\calibrations\venv\Lib\site-packages\wfastcgi.py" />
        </handlers>
    </system.webServer>
</configuration>
